<p>logged works!</p>
<div class="flex">
<section id="ubicacion-sidebar">

    <div class="sidebar">
        <ul>

        <li><a routerLink="andaporfavor">Login</a></li>

        <li><a routerLink="/">Contactos</a></li>

        <li><a routerLink="detalles-contactos">Detalles</a></li>

        <li><a routerLink="registro">Registrarse</a></li>

        </ul>
    </div>

    
 
</section>
<main class="content">
        
        <router-outlet></router-outlet>

    </main>
</div>
<section>

   <div>
    <nav>
        <a routerLink = "/">Contactos</a>
        
        <button (click)="authService.logout()">Log Out</button>
    </nav>
</div> 
</section>



