
<div class="flex">
<section id="ubicacion-sidebar">

    <div class="sidebar">
        

        <h2>Agenda</h2>
        <a routerLink="/">Contactos</a>
        <button class="boton-logout" (click)="authService.logout()">Log Out</button>

        <!--li><a routerLink="detalles-contactos">Detalles</a></li-->

        

    
    </div>

    
 
</section>
<main class="content">
        
        <router-outlet></router-outlet>

    </main>
</div>


<!--section>

   <div>
    <nav>
        <button (click)="authService.logout()">Log Out</button>
    </nav>
</div> 
</section-->



